<html>
        <body>
            <form action = "/newdb" method = "POST">
            <p><h2>Create a new DB</h2></p>
	    <p><h3>DB Name</h3><input type = "text" name = "tname"/></p>
	    <p><h3>DB Name</h3><input type = "text" name = "key1"/></p>
	    <p><h3>DB Name</h3><input type = "text" name = "key2"/></p>
	    <p><h3>DB Name</h3><input type = "text" name = "key3"/></p>
	    <p><h3>DB Name</h3><input type = "text" name = "key4"/></p>
            <p><h3>DB Name</h3><input type = "submit" value = "Login"/></p>
            </form>
        </body>
</html>
